---
import '../styles/global.css';
import AdminDashboard from '../components/AdminDashboard';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Admin - Stryd Panama</title>
    <script is:inline>
      (function() {
        var theme = localStorage.getItem('theme');
        if (!theme) {
          theme = 'dark'; // Por defecto oscuro
        }
        document.documentElement.classList.add(theme);
        document.documentElement.style.colorScheme = theme;
      })();
    </script>
  </head>
  <body>
    <AdminDashboard client:only="react" />
  </body>
</html>
